*.pyc
__pycache__/
*.ipynb_checkpoints
*.vscode/
*.env
*.DS_Store
*.idea/
*.vscode/
*.egg-info/
*.coverage
*.pytest_cache/
*.mypy_cache/
*.pyo
*.pyd
*.log
*.swp
*.bak
*.tmp
*.orig
*.zip
*.tar.gz
*.rar
*.7z
*.html